<main class="d-flex flex-column w-100 h-100 p-3 new-user">
    <section class="new-user__title">
        <h2 class="text-center new-user__text-title">Register</h2>
        <p class="text-center mb-4 new-user__text-subtitle">Register and access all content for free!</p>
    </section>
    <form class="d-flex flex-column new-user__form">
        <label for="name" class="d-block mb-1 new-user__label-name">Nome </label>
        <input class=" border-0 new-user__name" id="name" type="text" placeholder="Full name">

        <label for="email" class="d-block mb-1 new-user__label-email">Email</label>
        <input class=" border-0 new-user__email" id="email" type="email" placeholder="username@gmail.com">

        <label for="date" class="d-block mb-1 new-user__label-date">Date of birth</label>
        <input class="w-50 border-0 new-user__date" id="date" type="date">
        <div>
            <p class="new-user__genres">Select your genre:</p>
            <input type="radio" name="genre" id="male" value="male" checked>
            <label class="new-user__male" for="male">Male</label>
            <input type="radio" name="genre" id="female" value="female">
            <label class="new-user__female" for="female">Female</label>
        </div>
        <label class="d-block new-user__label-schooling" for="schooling">Select your education level</label>
        <select class="d-block new-user__schooling" id="schooling">
            <option value="elementary School">elementary School</option>
            <option value="middle school">middle school</option>
            <option value="high school">high school</option>
            <option value="Higher Education">Higher Education</option>
        </select>
        <label class="d-block new-user__label-password" for="password" >Password</label>
        <input minlength="8" class="border-0 new-user__password" autocomplete="off" type="password" placeholder="min. 8 characters">
        <label class="d-block new-user__label-password" for="password" >Confirm password</label>
        <input minlength="8" class="border-0 new-user__password" autocomplete="off" type="password" placeholder="min. 8 characters">
        <small class="d-block new-user__has-account">Do you have an account? <a class="text-center"
                routerLink="/login">Sign</a></small>
        <div class="d-flex justify-content-center align-content-center  new-user__buttons">
            <button class="btn new-user__register">Register</button>
            <button type="reset" class="btn new-user__reset">Reset</button>
        </div>
    </form>
</main>