@import "../../../../assets/styles/scss/variables.scss";
@import "../../../../assets/styles/scss/mixins.scss";

*{
    font-family: 'Montserrat', sans-serif;
}

.list {
  &__menu {
    background-color: #f2eae1;
    width: calculate-rem(270 + 150);

    &__title{       
        font-weight: 700;
        font-size:calculate-rem(30);
        margin-top:calculate-rem(20);
        margin-bottom:calculate-rem(85);
    }

    &__image{ 
      transform: scale(1.3);
      margin-bottom: calculate-rem(45);
    }

    &__image img{       
      border-radius:100%
    }

    &__name{ 
      font-weight: 700;
      font-size:calculate-rem(23);
      margin-bottom: calculate-rem(1);
    }

    &__role{ 
      color:$secondary-color;
      font-size:calculate-rem(18);
      font-weight: 500;
    }

    &__option-logout{
      bottom:calculate-rem(10);
    }
  }

  &__content {  
    width: calculate-rem(1170 + 330);
  }
}

.active{
  background-color:$secondary-color;
  color:white;
}