
<main class="login w-100 min-vh-100 d-flex justify-content-center align-items-center">
    <section class="forms">
        <app-form-login *ngIf="this.route === 'login'"></app-form-login>

        <ng-template [ngIf]="this.route === 'register'">
            <app-novo-usuario></app-novo-usuario>
        </ng-template>
    </section>
    <section class="d-none d-lg-block d-xl-block image">
        <img src="../../../assets/images/login-screen.svg" class="img-fluid" alt="magem de um passaro vestido de monge flutando ">
    </section>   
</main>
