<main class="d-flex flex-column w-100 h-100 login">
    <header class="mb-3 login__topo">
        <div class="login__logo">Your Logo</div>
        <h1 class="login__title">Login</h1>
    </header>
    <form class="w-100 login__form" (ngSubmit)="login()" #formLogin="ngForm">
        <label for="email" class="d-block mb-1 login__label-email">Email</label>
        <input class="border-0 login__email" [ngClass]="{'login__email--invalid': emailField.invalid && emailField.touched} "  autocomplete="off" id="email" type="email" 
            placeholder="username@gmail.com" [(ngModel)]="email" name="email" required #emailField="ngModel">

        <app-validation-message *ngIf="emailField.invalid && emailField.touched" message="Email is required"></app-validation-message>
        
        <label for="password" class="d-block mb-1 mt-4 login__label-password">Password</label>
        <div class="bg-white d-flex login__container" [ngClass]="{'login__container--invalid': passwordField.invalid && passwordField.touched} ">
            <input class="border-0 d-inline-block login__password " autocomplete="off" id="password" [type]="passwordView"
                placeholder="password" [(ngModel)]="password" name="password" required #passwordField="ngModel">
            <i class="ml-3 d-flex">
                <img (click)="changePasswordView()" class="login__view-password" src="../../../../assets/images/password-eye.svg"
                    alt="imagem de olho para mostrar ou esconder senha">
            </i>
        </div>

        <app-validation-message *ngIf="passwordField.invalid && passwordField.touched" message="Password is required"></app-validation-message>

        <small class="d-block mt-3 mb-5 login__forgot-password">
            <a href="">Forgot password?</a>
        </small>
        <button [disabled]="formLogin.invalid"  class="btn login__button">Sign in</button>
        <small class="d-block text-center login__continue">or continue with</small>
        <div class="login__social-media w-100 d-flex justify-content-between">
            <div class="d-flex justify-content-center align-content-center login__account">
                <img src="../../../../assets/icons/icon_google.svg" alt="icone do google">
            </div>
            <div class="d-flex justify-content-center align-content-center login__account">
                <img src="../../../../assets/icons/icon_github.svg" alt="icone do github">
            </div>
            <div class="d-flex justify-content-center align-content-center login__account">
                <img src="../../../../assets/icons/icon_facebook.svg" alt="icone do facebook">
            </div>
        </div>
        <small class="d-block login--no-account">Don't have an account? yet? <a class="text-center"
                routerLink="/register">Register for free</a></small>
    </form>
</main>