<main class="d-flex flex-column w-100 h-100 login">
    <header class="mb-3 login__topo">
        <div class="login__logo">Your Logo</div>
        <h1 class="login__title">Login</h1>
    </header>
    <form class="w-100 login__form">
        <label for="email" class="d-block mb-1 login__label-email">Email</label>
        <input class="border-0 login__email" id="email" type="email" placeholder="username@gmail.com">
        <label for="password" class="d-block mb-1 mt-4 login__label-password">Password</label>
        <div class="bg-white d-flex login__container">
            <input class="border-0 d-inline-block login__password " id="password" type="password" placeholder="password">
            <i class="ml-3 d-flex">
                <img class="login__view-password" src="../../../../assets/images/password-eye.svg" alt="imagem de olho para mostrar ou esconder senha">
            </i>
        </div>
        <small class="d-block mt-3 mb-5 login__forgot-password"> 
            <a href="">Forgot password?</a> 
        </small>
        <button class="btn login__button">Sign in</button>
        <small class="d-block text-center login__continue">or continue with</small>
        <div class="login__social-media w-100 d-flex justify-content-between">
            <div class="d-flex justify-content-center align-content-center login__account">
                <img src="../../../../assets/icons/icon_google.svg" alt="icone do google">
            </div>
            <div class="d-flex justify-content-center align-content-center login__account">
                <img src="../../../../assets/icons/icon_github.svg" alt="icone do github">
            </div>
            <div class="d-flex justify-content-center align-content-center login__account">
                <img src="../../../../assets/icons/icon_facebook.svg" alt="icone do facebook">
            </div>
        </div>
        <small class="d-block login--no-account">Don't have an account? yet? <a class="text-center" routerLink="subscribe">Register for free</a></small>
    </form>
</main>